{% extends 'base2.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Adresse</th>
                <th>Gsm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.Name }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.adresse }}</td>
                <td>{{ patient.Gsm }}</td>
                <td>
                    <a href="{{ path('patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('patient_new') }}">Create new</a>
{% endblock %}
